
#projects-title {
    text-align: center;
    font-weight: bold;
    /*color: red;*/
}

#navbar {
    background-color: #056B55;
}

.black {
    color: rgb(70,70,70);
}

.black:hover {
    color: #056B55;
    font-weight: bold;
}

.centered {
    text-align: center;
}

.shaded {
    padding: 10px;
}

.shaded:hover {
    background-color: rgb(200,200,200);
}


.top-bar-section li.active:not(.has-form) a:not(.button) {
    background-color: #382D08;
    color: #fff;
}

.top-bar-section li.active:not(.has-form) a:not(.button):hover {
    background: #45370A;
}

.top-bar-section li:not(.has-form) a:not(.button) {
    background: rgb(5,107,86);
}

.top-bar-section li:not(.has-form) a:not(.button):hover {
    background: #06785F;
}

.contain-to-grid {
    background:  #056B55;
}

a {
    color: #056B55;
}

a:hover {
    color: #06785F;
}

ul.inline-list li a {
    font-weight: bold;
}