<!DOCTYPE html>
<html>
    <head>
        <title>Winthrop Gillis</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.1/css/foundation.min.css">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div id="app">
            <div class="sticky contain-to-grid">
                <nav data-topbar class="top-bar" role="navigation" id="navbar">
                    <ul class="title-area">
                        <li class="name">
                            <h1>
                                <a>Winthrop Gillis</a>
                            </h1>
                        </li>
                        <li class="toggle-topbar menu-icon">
                            <a><span>Menu</span></a>
                        </li>
                    </ul>
                    <section class="top-bar-section">
                        <ul class="right">
     <!--                        <li class="{{activeHome}}">
                                <a v-on="click: home()">Home</a>
                            </li> -->
                            <li class="{{activeProjects}}">
                                <a v-on="click: projects()">Projects</a>
                            </li>
                            <li class="{{activeSkills}}">
                                <a v-on="click: skills()">Skills</a></li>
                        </ul>
                    </section>
                </nav>
            </div>
            <br>
            <div id="changeView" v-html="currentView">

            </div>
            <div class="row">
                <div class="large-12 medium-12 small-12 columns">
                    <hr>
                    <footer>
                        <h4>Contact Me:</h4>
                        <ul class="inline-list">
                            <li>
                                <a href="mailto:wgillis@bu.edu">Email: wgillis@bu.edu</a>
                            </li>
                            <li>
                                <a href="https://bitbucket.org/wingillis/">Bitbucket</a>
                            </li>

                            <li>
                                <a href="https://github.com/wingillis/">Github</a>
                            </li>
                            <li>
                                <a href="http://hackaday.io/wgillis">Hackaday</a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/pub/win-gillis/75/561/bb9">LinkedIn</a>
                            </li>
                            <li>
                                <a href="http://codepen.io/wingillis/">Codepen</a>
                            </li>
                            <li>
                                <a href="http://twitter.com/gillisdub">Twitter</a>
                            </li>
                            <li>
                                <a href="http://soundcloud.com/win-gillis">Soundcloud</a>
                            </li>
                        </ul>
                        <br>
                        <p>The code for this website is hosted <a href="https://bitbucket.org/wingillis/websiteresources">here</a></p>
                    </footer>
                </div>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.1/js/vendor/jquery.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.1/js/vendor/modernizr.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.1/js/foundation.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/0.11.5/vue.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/superagent/0.15.7/superagent.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mousetrap/1.4.6/mousetrap.min.js"></script>
        <script src="js/homepage.js">
        </script>
    </body>
</html>