<div class="row">
    <div class="large-6 medium-6 small-6 columns">
        <img id="stop1" src="http://wingillis.com/images/win_graduation.jpg"/>
    </div>
    <div class="large-6 medium-6 small-6 columns">
        <h3>Graduation was exciting</h3>
    </div>
</div>
<br/>
<div class="row">
    <div class="large-6 medium-6 small-12 columns">
        <div class="panel">
            <p class="text-justify">My name is Win and I like to science, engineer, and program.
            My favorite thing to do is building things - whether it's a new
            experiment, a program/application, or a device - it doesn't matter.
            I love it all! Check out some of the things I have done! <span class='hide-for-small-only'>Press 'h', 'p', or 's' to navigate between the home, projects, and skills pages, respectively.</span>
            </p>
        </div>
    </div>
    <div class="large-6 medium-6 small-12 columns">
        
    </div>
</div>