<div class="row">
    <div class="large-12 medium-12 columns">
        <h2 id="projects-title">Projects</h2>
        <hr>
    </div>
</div>
<div class="row">
    <div class="large-4 medium-4 small-4 columns centered shaded">
        <a class="black" href="http://people.bu.edu/timothyg">
            <img src="http://ediacaran.mech.northwestern.edu/neuromech/img_auth.php/c/ca/Reich09-roach-signal-global.png">
            <br/>
            <br/>
            Peripheral Nerve Interfacing
        </a>
    </div>
    <div class="large-4 medium-4 small-4 columns centered shaded">
        <a class="black" href="#">
            <img src="https://app.box.com/representation/file_version_26168223620/image_2048_jpg/1.jpg?shared_name=hm7hz2ehfm953lfhvvssrrf2dsce0jf5">
            <br/>
            <br/>
            A keyboard that fits on your <br/>hands
        </a>
    </div>

    <div class="large-4 medium-4 small-4 columns centered shaded">
        <a class="black" href="#">
            <img src="https://app.box.com/representation/file_version_26169561066/image_2048_jpg/1.jpg?shared_name=8199givjjw1o3i4ah3znfi6c7wcyguxx">
            <br/>
            <br/>
            A minimalist dodging game
        </a>
    </div>
</div>
<div class="row">

    <div class="large-4 medium-4 small-4 columns centered shaded">
        <a class="black" href="#">
            <img src="https://app.box.com/representation/file_version_26170955448/image_2048_jpg/1.jpg?shared_name=xgn4tl97x8rxpzq88iashdaix0fnian7">
            <br/>
            <br/>
            Touchless keyboard using Leap Motion <br/>technology
        </a>
    </div>
    <div class="large-4 medium-4 small-4 columns centered shaded">
        <a class="black" href="#">
            <img src="https://app.box.com/representation/file_version_26171333164/image_2048/1.png">
            <br/>
            <br/>
            This website
        </a>
    </div>
    <div class="large-4 medium-4 small-4 columns centered shaded">
        <a class="black" href="http://sciencewatchr.herokuapp.com/page/1">
            <img src="https://app.box.com/representation/file_version_26171984722/image_2048/1.png">
            <br/>
            <br/>
            ScienceWatchr, a reddit-like clone, <br/>for science!
        </a>
    </div>
</div>
<div class="row">
    <div class="large-4 medium-4 small-4 columns centered shaded">
        <a class="black" href="#">
            <img src="https://app.box.com/representation/file_version_26172648722/image_2048/1.png">
            <br/>
            <br/>
            Implant, an app to share the activity around you to others
        </a>
    </div>
    <div class="large-4 medium-4 small-4 columns centered shaded">
        <a class="black" href="#">
            <img src="https://app.box.com/preview/direct/f_27651554054.gif">
            <br/>
            <br/>
            Sound-activated light show!
        </a>
    </div>
    <div class="large-4 medium-4 small-4 columns centered shaded">
        <a class="black" href="#">
            <img src="https://app.box.com/representation/file_version_26173783940/image_2048/1.gif">
            <br/>
            <br/>
            A holiday inspired light show
        </a>
    </div>
</div>

<hr>
        <div class="row">
        <div class="large-12 medium-12 small-12 columns">
        <p>Flashcard App for android (unpublished)</p>
        <p>An app for determining loss of motor function (at a gross level) in emergency situations</p>
        </div>
        </div>
    </div>
</div>